.message
  .upper-info
    %p.upper-info__user
      test-uer
    %p.upper_info__date
      2019/06/05(Wed) 15:16:12
  %p.message__text
    こんにちは！
.message
  .upper-info
    %p.upper-info__user
      test-uer
    %p.upper_info__date
      2019/06/05(Wed) 15:20:12
  %p.message__text
    さようなら