.flash-box {
  height: 15px;
  background-color: #38aef0;
  color: #fff;
  text-align: center;
  line-height: 15px;
}

.wrapper {
  width: 100vw;
  height: 760px;
}

.chat-side {
  width: 300px;
  float: left;

}



.side-header {
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  font-size: 16px;
  color: #ffffff;
  &__user-name {
    font-weight: bold;
    line-height: 82px;
    float: left;
  }
}

.user-menu {
  line-height: 82px;
  &__edit-user {
    color: #ffffff;
    margin-left: 150px;
    display: list-item;
    float: left;
    
  }
  &__new-group {
    color: #ffffff;
    display: list-item;
    float: left;
    
  }
}

.groups {
  padding: 20px;
  height: 663px;
  background-color: #2f3e51;
}

.group {
  height: 91px;
  color: #ffffff;
  font-weight: bold;
  &__group-name {
    margin-top: 20px;
    font-size: 15px;
  }
  &__latest-message {
    font-size: 11px;
    margin-top: 5px;
  }
}

.chat-main {
  width: calc(100vw - 300px);
  float: left;
}

.main-header {
  height: 100px;
  border-bottom: 1px solid #eeeeee;
  padding: 0 40px;
  
}



.current-group {
  &__name {
    font-size: 20px;
    padding-top: 35px;
    color: #333333;
  }
}

.member-list {
  margin-top: 15px;
  font-size: 12px;
  color: #999999;
  float: left;
  display: list-item;
  &__member {
    display: list-item;
  }

}