.flash-box {
  height: 15px;
  background-color: #38aef0;
  color: #fff;
  text-align: center;
  line-height: 15px;
}

.wrapper {
  width: 100vw;
  height: 100vw;;
}

.chat-side {
  width: 300px;
  float: left;
}
